* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}

.hidden {
  opacity: 0;
}

.logo {
  margin-left: 50px;
  float: left;
  width: 100px;
  height: 23px;
}

h1,
h2,
h3,
h4,
h6 {
  color: #ffffff !important;
  font-weight: 600;
  line-height: 1.65;
  margin: 0 0 0.5em 0;
}

a,
i {
  color: white !important;
}

.short--present {
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 15%;
  vertical-align: middle;
}

.inner {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url('../img/img_home5.jpg') no-repeat center center fixed;
  /* background-color: #17a2b8; */
  /* background-repeat: no-repeat; */
  background-position: 0% 0%;
  background-size: 100% 100%;
  opacity: 1;
  height: 700px;
  max-height: 700px;
  border-bottom: 1px solid #1d1d1d;
}

.name__h1 {
  z-index: 1;
  font-size: 2.5em;
}

hr {
  background-color: #ffffff !important;
  display: block;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.present--2 {
  float: left;
}

.get--started {
  margin-top: 3px;
  float: left;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: solid 2px;
  cursor: pointer;
  overflow: hidden;
  padding: 7px;
  color: white;
}

.get--started:hover {
  color: #1d1d1d;
  background-color: white;
}

.card-deck {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}

.card {
  /* margin-left: 5rem !important;
  margin-right: 5rem !important; */
  margin-bottom: 3rem !important;
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.badge {
  margin-top: -20px !important;
  margin-left: -20px !important;
  margin-right: -20px !important;
  border-radius: 0px !important;
}

.card-img-top {
  width: 30% !important;
  padding-top: 10% !important;
  max-width: 150px;
  max-height: 200px;
}

.card-title {
  color: black !important;
  text-align: center;
}

.footer {
  background-color: #1d1d1d;
  width: 100%;
}

.footer p {
  color: white;
  float: right;
  padding-right: 20px;
  padding-top: 2%;
}

.footer--contact {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer--contact a {
  color: white;
  padding-top: 20px;
  font-size: 0.8em;
}

.footer--contact i {
  margin-right: 0 !important;
  padding-left: 20px !important;
  padding-right: 5px !important;
  color: white !important;
}

@media only screen and (max-width: 1078px) {
  .inner {
    height: 500px;
  }
  .menu__box {
    width: 100%;
  }
  .menu__item {
    text-align: center;
  }
  .get--started {
    margin-left: 20px;
  }
  .card {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .badge-warning {
    top: 0 !important;
    padding-left: 0px !important;
  }

  @media only screen and (max-width: 1000px) {
    .get--started {
      margin-left: 20px;
    }
    .inner {
      height: 300px;
    }

    .card {
      width: 100% !important;
    }

    .card-deck {
      width: 100% !important;
      margin-left: 0rem !important;
      margin-right: 0rem !important;
    }
    .card-img-top {
      max-height: 200px !important;
    }
  }

  @media only screen and (min-width: 1079px) {
    .get--started {
      margin-left: 70px;
    }
  }
}
